nav {
  width: 100vw;
  background-color: blue;
  color: white;
}

nav h2 {
  width: 300px;
  display: inline;
}

nav .wrapping-container {
  position: relative;
}

nav ul {
  display: inline;
  position: absolute;
  right: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a:link {
  color: white;
}
header {
  width: 100vw;
  background-color: gray;
}
main {
  width: 100vw;
  background-color: lightgray;
}
.card {
  width: 80%;
  background-color: blue;
  margin: 0 auto;
}

footer {
  width: 100vw;
  background-color: orange;
}

.sign-off {
  background-color: sienna;
}

.info-columns {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
}

.wrapping-container {
  width: 80%;
  margin: 0 auto;
}
