@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  font-family: Roboto, sans-serif;
}

nav {
  width: 100%;
  height: 65px;
  background-color: blue;
  color: white;
}

nav h2 {
  width: 300px;
  display: inline;
}

nav .wrapping-container {
  position: relative;
}

nav ul {
  display: inline;
  position: absolute;
  right: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a:link {
  color: white;
}

header {
  width: 100%;
  height: 515px;
  background-image: url("detroit-downtown-city-at-night.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

header h1 {
  font-size: 72px;
  width: 771px;
  margin: 0 auto;
  color: orange;
  text-shadow: 2px 2px black;
}

header p {
  font-size: 30px;
  margin: 20px auto 0 auto;
  width: 1005px;
  color: white;
  text-shadow: 2px 2px black;
}

button {
  border: 2px solid orange;
  color: white;
  box-shadow: 0px 0px 4px #00000077;
  border-radius: 2px;
}

header button {
  font-size: 30px;
  color: white;
  margin: 35px auto 0 auto;
  padding: 6px;
  width: 265px;
  display: block;
  background-color: orange;
}

main {
  width: 100%;
  height: 385px;
  background-color: lightgray;
}
.card {
  width: 80%;
  background-color: blue;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 300px;
  background-color: orange;
}

.sign-off {
  height: 50px;
  background-color: sienna;
}

.info-columns {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
}

.wrapping-container {
  width: 80%;
  margin: 0 auto;
}
