/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.parallax-container {
    height: 500px;
}
.hero
{
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url('../img/detroit-5.jpg');
    overflow: hidden;
}

.hero-content
{
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 1px 2px 0 #000;
}

/* label color */
.input-field label {
    color: #fff;
}
